<?xml version='1.0' encoding='utf-8'?>
<plugin id="uk.ac.edina.mobile.checkintent" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CheckIntent</name>
    <js-module name="CheckIntent" src="www/CheckIntent.js">
        <clobbers target="cordova.plugins.CheckIntent" />
    </js-module>
    <platform name="android">
        <config-file target="config.xml" parent="/*">
            <feature name="CheckIntent">
                <param name="android-package" value="uk.ac.edina.mobile.checkintent.CheckIntent"/>
            </feature>
        </config-file>

        <source-file src="src/android/CheckIntent.java" target-dir="src/uk/ac/edina/mobile/checkintent/" />
    </platform>
</plugin>